#Turn the rewrite engine on
RewriteEngine On

#Unless it's an actual file
RewriteCond %{REQUEST_FILENAME} !-f

#Rewrite the entire url as a URL parameter to the index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#Disable directory listing
Options -Indexes